/*!
 * Marp / Marpit SatooRu-Gaia theme.
 *
 * @theme satooru-mocopi
 * @author SatooRu
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
svg[data-marp-fitting='svg'] {
  max-height: 580px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0; }
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong,
  h6 strong {
    font-weight: inherit; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.9em; }

p,
blockquote {
  margin: 0.5rem 0; }

b {
  color: #d6df29; }

strong {
  color: #c017a2;
  font-size: 1.1rem; }

ul > li,
ol > li {
  margin: 0.3em 0 0 0; }
  ul > li > p,
  ol > li > p {
    margin: 0.6em 0 0 0; }

code {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.1em 0.2em;
  vertical-align: baseline; }

pre {
  min-width: 100px;
  max-width: 100%;
  display: block;
  margin: 1em 0 0 0;
  min-height: 1em;
  overflow: visible; }
  pre code {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em;
    font-size: 0.7em;
    overflow: scroll;
    width: 100%; }
    pre code svg[data-marp-fitting='svg'] {
      max-height: calc(580px - 1em); }

blockquote {
  margin: 1em 0 0 0;
  padding: 0 1em;
  position: relative; }
  blockquote::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 10px;
    background-color: #b3d7e0; }

mark {
  background: transparent; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em 0 0 0; }
  table th,
  table td {
    padding: 0.2em 0.4em;
    border-width: 1px;
    border-style: solid; }

section {
  background-image: linear-gradient(135deg, rgba(136, 136, 136, 0), rgba(136, 136, 136, 0.02) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.05));
  font-size: 35px;
  font-family: 'Lato', 'Avenir Next', 'Avenir', 'Trebuchet MS', 'Segoe UI', sans-serif;
  height: 720px;
  line-height: 1.35;
  letter-spacing: 1.25px;
  padding: 150px 70px 70px 70px;
  width: 1280px;
  color: #429ab2;
  background-color: #ffffff; }
  section > *:first-child,
  section > header:first-child + * {
    margin-top: 0; }
  section a,
  section mark {
    color: #429ab2; }
  section code {
    background: #68aec1;
    color: #ffffff; }
  section h1 strong,
  section h2 strong,
  section h3 strong,
  section h4 strong,
  section h5 strong,
  section h6 strong {
    color: #429ab2; }
  section pre > code {
    background: #68aec1; }
  section header,
  section footer,
  section section::after,
  section blockquote::before,
  section blockquote::after {
    color: #68aec1; }
  section table th,
  section table td {
    border-color: #429ab2; }
  section table thead th {
    background: #429ab2;
    color: #ffffff; }
  section table tbody > tr:nth-child(odd) td,
  section table tbody > tr:nth-child(odd) th {
    background: rgba(66, 154, 178, 0.1); }
  section.invert {
    color: #ffffff;
    background-color: #429ab2; }
    section.invert a,
    section.invert mark {
      color: #c017a2; }
    section.invert code {
      background: #d9ebf0;
      color: #429ab2; }
    section.invert h1 strong,
    section.invert h2 strong,
    section.invert h3 strong,
    section.invert h4 strong,
    section.invert h5 strong,
    section.invert h6 strong {
      color: #c017a2; }
    section.invert pre > code {
      background: #d9ebf0; }
    section.invert header,
    section.invert footer,
    section.invert section::after,
    section.invert blockquote::before,
    section.invert blockquote::after {
      color: #d9ebf0; }
    section.invert table th,
    section.invert table td {
      border-color: #ffffff; }
    section.invert table thead th {
      background: #ffffff;
      color: #429ab2; }
    section.invert table tbody > tr:nth-child(odd) td,
    section.invert table tbody > tr:nth-child(odd) th {
      background: rgba(255, 255, 255, 0.1); }
  section.gaia {
    color: #ffffff;
    background-color: #429ab2; }
    section.gaia a,
    section.gaia mark {
      color: #c017a2; }
    section.gaia code {
      background: #d9ebf0;
      color: #429ab2; }
    section.gaia h1 strong,
    section.gaia h2 strong,
    section.gaia h3 strong,
    section.gaia h4 strong,
    section.gaia h5 strong,
    section.gaia h6 strong {
      color: #c017a2; }
    section.gaia pre > code {
      background: #d9ebf0; }
    section.gaia header,
    section.gaia footer,
    section.gaia section::after,
    section.gaia blockquote::before,
    section.gaia blockquote::after {
      color: #d9ebf0; }
    section.gaia table th,
    section.gaia table td {
      border-color: #ffffff; }
    section.gaia table thead th {
      background: #ffffff;
      color: #429ab2; }
    section.gaia table tbody > tr:nth-child(odd) td,
    section.gaia table tbody > tr:nth-child(odd) th {
      background: rgba(255, 255, 255, 0.1); }
  section.lead {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; }
    section.lead h1,
    section.lead h2,
    section.lead h3,
    section.lead h4,
    section.lead h5,
    section.lead h6 {
      text-align: center; }
      section.lead h1 svg[data-marp-fitting='svg'],
      section.lead h2 svg[data-marp-fitting='svg'],
      section.lead h3 svg[data-marp-fitting='svg'],
      section.lead h4 svg[data-marp-fitting='svg'],
      section.lead h5 svg[data-marp-fitting='svg'],
      section.lead h6 svg[data-marp-fitting='svg'] {
        --preserve-aspect-ratio: xMidYMid meet; }
    section.lead p {
      text-align: center; }
    section.lead blockquote > h1,
    section.lead blockquote > h2,
    section.lead blockquote > h3,
    section.lead blockquote > h4,
    section.lead blockquote > h5,
    section.lead blockquote > h6,
    section.lead blockquote > p {
      text-align: left; }
    section.lead blockquote svg[data-marp-fitting='svg']:not([data-marp-fitting-math]) {
      --preserve-aspect-ratio: xMinYMin meet; }
    section.lead ul > li > p,
    section.lead ol > li > p {
      text-align: left; }
    section.lead table {
      margin-left: auto;
      margin-right: auto; }

header {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 50px;
  overflow: hidden;
  position: fixed;
  padding-left: 30px;
  left: 50px;
  right: 50px;
  top: 50px; }
  header::before {
    content: '';
    height: 100%;
    width: 10px;
    background-color: #429ab2;
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

footer,
section::after {
  box-sizing: border-box;
  font-size: 66%;
  height: 70px;
  line-height: 50px;
  overflow: hidden;
  padding: 10px 25px;
  position: absolute; }

footer {
  left: 0;
  right: 0;
  bottom: 0; }

section::after {
  content: attr(data-marpit-pagination);
  width: 120px;
  height: 120px;
  font-size: 80%;
  text-align: end;
  justify-content: end;
  align-items: end;
  color: #ffffff;
  background-color: #c017a2;
  display: flex;
  right: 0;
  bottom: 0;
  clip-path: polygon(100% 0, 100% 100%, 0 100%); }

iframe,
video {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999; }

.arrow {
  margin-right: 10px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 25px 20px;
  border-top-color: #429ab2;
  border-bottom: 0;
  margin-left: var(--l);
  margin-right: var(--r); }
  .arrow.middle {
    margin-inline: auto; }
  .arrow.inline {
    display: inline-block; }

/*# sourceMappingURL=satooru-mocopi.css.map */
